.bg {
    background-image: url("../../src/image/bg-atas.svg");
    width: 100%;
    height: 330px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 30px;
}
